:root {
  --primary-color: #fdfdfd;
  --secondary-color: #6a6969;
  --background-color: #f4f6f9;
  --font-color: #000000;
  --font-family: 'Arial', sans-serif;
  --month-bg-color: rgb(168, 217, 168);
  --nav-element-height: 40px;
  --fontsize-weekday: 22px;
  --fontsize-day: 22px;
  --fontsize-time: 20px;
  --fontsize-eventtitle :12px;
  --fontsize-cal-selector: 14px;
  --fontsize-weekday: 18px;
  --fontsize-day: 18px;
  --fontsize-time: 16px;
  --fontsize-eventtitle :12px;
  --fontsize-cal-selector: 14px;
  --popup-background: #ffffff;
  }
  
[data-theme="dark"]{
  --primary-color: #000000;
  --secondary-color: #e9e9e9;
  --background-color: #7a7777;
  --month-bg-color: #55916f;
  --btn-font-color: #ffffff;
  --font-color: #ffffff;
  --font-family: 'Arial', sans-serif;
  --nav-element-height: 40px;
  --popup-background: #d4d2d2;
}

[fontsize="m"]{
  --fontsize-weekday: 22px;
  --fontsize-day: 22px;
  --fontsize-time: 20px;
  --fontsize-eventtitle :14px;
  --fontsize-cal-selector: 16px;
}
[fontsize="l"]{
  --fontsize-weekday: 26px;
  --fontsize-day: 26px;
  --fontsize-time: 22px;
  --fontsize-eventtitle :16px;
  --fontsize-cal-selector: 18px;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}


.button-cal-wrapper button {
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
  border-radius: 5px;
  color: var(--btn-font-color);
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--secondary-color);
  }
}

.monthDisplay {
  background-color: var(--month-bg-color);
  color: var(--font-color);
  border-radius: 5px;
  padding: 10px 15px;
}

#calendar {
  margin: 0px 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tui-full-calendar-weekday-schedule-title{
  font-size:var(--fontsize-eventtitle)
}
.calendar-week-dayname {
  font-weight: bold;
}

.flex-container { 
    display: flex; 
    height:70px; 
    white-space: 10px;
    flex-flow: column wrap;  
    align-content: space-between; 
    margin: 25px 30px 0px 30px;
} 

.button-cal-wrapper{
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
  height: var(--nav-element-height);
}
.button-cal-wrapper img {
  left: 50;
}
.button-cal-wrapper div{
  vertical-align: middle;
  font-size: large;
}
.button-cal-wrapper div p{
  font-size: 32px;
  font-weight: bold;
  color:var(--font-color);
  margin-right: 20px;
}
.button-tool-wrapper{
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  height: --nav-element-height;
}
.button-tool-wrapper div{
  height: --nav-element-height;
  line-height: 40px;
  vertical-align: middle;
  font-size: large;
  color: var(--font-color);
}
.button-tool-wrapper button{
  margin-left: 14px;
  border: none;
  background: none;
}

.viewmode  {
  text-decoration: none;
  left: 0;
  z-index: 10000;
  * {
    list-style-type: none;
  }
}

.viewmode .viewmodeitem{
  margin-top: 0px;
  margin-left: 0px;
  width:80px;
  height: 40px;
}

.checkboxes{
  margin: 10px 10px 10px 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkboxes label{
  margin-left:10px;
  font-size: var(--fontsize-cal-selector);
  color: var(--font-color);
}
.checkboxes #cb_assignment{
  accent-color: #d42fb5;
}
.checkboxes #cb_quiz{
  accent-color: #6067f0;
}
.checkboxes #cb_class{
  accent-color: #32cf4c;
}
.tui-full-calendar-popup-container{
  background-color: var(--popup-background);
}
.tui-full-calendar-timegrid-hour{
  font-size: var(--fontsize-time);
}