
  :root {
  --primary-color: #fdfdfd;
  --secondary-color: #a1a0a0;
  --background-color: #f4f6f9;
  --font-family: 'Arial', sans-serif;
  --nav-element-height: 40px;
  }
  
[data-theme="dark"]{
  --primary-color: #000000;
  --secondary-color: #e9e9e9;
  --background-color: #a9a9a9;
  --font-color: #ffffff;
  --font-family: 'Arial', sans-serif;
  --nav-element-height: 40px;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}


.button-cal-wrapper button {
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
  border-radius: 5px;
  color: var(--font-color);
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: --secondary-color;
  }
}

#calendar {
  margin: 0px 50px;
  background-color: var(--background-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  .tui-full-calendar-layout{
    color: var(--background-color);
  }
  .tui-full-calendar-weekday-sun,
  .tui-full-calendar-weekday-sat {
    color: var(--primary-color);
  }

  .tui-full-calendar-dayname-date {
    background-color: var(--background-color);
    padding: 10px;
  }
}

.calendar-week-dayname {
  font-weight: bold;
  color: var(--font-color);
}

.flex-container { 
    display: flex; 
    height:70px; 
    white-space: 10px;
    flex-flow: column wrap;  
    align-content: space-between; 
    margin: 25px 30px 0px 30px;
} 

.button-cal-wrapper{
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
  height: --nav-element-height;
}
.button-cal-wrapper img {
  left: 50;
}
.button-cal-wrapper div{
  height: --nav-element-height;
  line-height: --nav-element-height;
  vertical-align: middle;
  font-size: large;
}
.button-cal-wrapper div p{
  font-size: 32px;
  font-weight: bold;
  color:#676464;
  margin-right: 20px;
}
.button-tool-wrapper{
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  height: --nav-element-height;
}
.button-tool-wrapper div{
  height: --nav-element-height;
  line-height: 40px;
  vertical-align: middle;
  font-size: large;
}
.button-tool-wrapper button{
  margin-left: 14px;
  border: none;
  background: none;
}
.viewmode  {
  text-decoration: none;
  left: 0;
  z-index: 10000;
  * {
    list-style-type: none;
  }
}

.viewmode .viewmodeitem{
  margin-top: 0px;
  margin-left: 0px;
  width:80px;
  height: 40px;
}